body {
    font-family: "DM Sans", sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
  }
  
  /* Container styles */
  .profile-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }
  
  /* Header styles */
  .profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .profile-header h1 {
    font-size: 28px;
    color: #352e5b;
    font-weight: bold;
  }
  
  .edit-profile {
    font-size: 16px;
    color: #7d67ff;
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .edit-profile:hover {
    color: #6a5de7;
  }
  
  /* Profile content styles */
  .profile-content {
    display: flex;
    align-items: center;
    margin-top: 30px;
  }
  
  .avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #c4c4c4;
    border: 3px solid #7d67ff;
    margin-right: 30px;
  }
  
  .user-info h2 {
    font-size: 15px;
    color: #352e5b;
    margin-bottom: 10px;
  }
  
  .user-info p {
    font-size: 18px;
    color: rgba(53, 46, 91, 0.8);
  }
  
  /* Assets styles */
  .assets {
    margin-top: 30px;
    overflow-y: scroll; 
    height: 200px;
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    color: #352e5b;
  }
  
  .asset-item {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
   
  }
  
  .asset-item p {
    font-size: 18px;
    color: #352e5b;
  }
  
  .more-assets {
    font-size: 16px;
    color: #7d67ff;
    cursor: pointer;
    margin-top: 20px;
    transition: color 0.3s;
  }
  
  .more-assets:hover {
    color: #6a5de7;
  }
  
  /* Account info styles */
  .account-info {
    margin-top: 30px;
  }
  
  .account-info p {
    font-size: 18px;
    color: #352e5b;
  }
  
  .account-info h2 {
    font-size: 24px;
    font-weight: bold;
    color: #352e5b;
  }
  
  /* Trade button styles */
  .trade-now-button {
    margin-top: 30px;
    text-align: center;
  }
  
  button {
    background: #7d67ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background: #6a5de7;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .profile-container {
      padding: 15px;
    }
  
    .avatar img {
      width: 80px;
      height: 80px;
      margin-right: 20px;
    }
  
    .user-info h2 {
      font-size: 10px;
    }
  
    .user-info p {
      font-size: 16px;
    }
  
    h2 {
      font-size: 20px;
    }
  
    .asset-item {
      margin-top: 15px;
     
    }
  
    .more-assets {
      font-size: 16px;
      margin-top: 15px;
    }
  
    .account-info p {
      font-size: 18px;
    }
  
    .account-info h2 {
      font-size: 20px;
    }
  
    button {
      font-size: 20px;
      padding: 12px 24px;
    }
  }
  